.character {
  width: 100%;
  height: 60vh;
  background-color: var(--dark);
  &__img-content {
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 0 2rem;
    &--shadow {
      background: var(--dark);
      background: var(--backgroud-radial-dark);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}