.home {
  &__character {
    padding: .5rem;
    border-bottom: .1rem solid var(--silver);
  }
  &__controls {
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  &__open-button {
    padding: .8rem;
    border-radius: .8rem;
    border: .1rem solid var(--dark-blue);
    background-color: var(--gold);
    color: var(--dark-blue);
  }
}