.home {
  width: 100%;
  min-width: 37.5rem;
  display: flex;
  flex-flow: row nowrap;
  &__character {
    width: 50%;
  }
  &__pokedex {
    width: 50%;
  }
}
@media (max-width: 740px) {
  .home {
    flex-flow: column nowrap;
    &__character {
      margin: auto;
      padding-bottom: 2rem;
    }
    &__pokedex {
      margin: auto;
    }
  }
}