<ng-container *ngIf="loading$|async as l">
  <poke-spinner [showing]="l"></poke-spinner>
</ng-container>
<ng-container *ngIf="pokemonRandom$|async as p">
  <div class="home">
    <div class="home__character">
      <poke-character [pokemon]="p" [showing]="showPokemon"></poke-character>
    </div>
    <div class="home__pokedex">
      <poke-pokedex [texts]="traduction" [currentPokemon]="p" (capture)="showCurrenPokemon()"></poke-pokedex>
    </div>
  </div>
</ng-container>
<!-- <ng-container>
  <poke-dialog></poke-dialog>
</ng-container> -->