<div class="pokedex">
  <div class="pokedex__container">
    <div class="pokedex__wizard pokedex__wizard--top">
      <span class="light" [ngClass]="{'light--shadow': destello}"></span>
      <div class="pokedex__line"></div>
    </div>
    <div >
      <button class="pokedex__button" (click)="openScreen()">{{!showScreen ? texts.get(PokedexEnum.SEARCH) : texts.get(PokedexEnum.HIDDEN)}}</button>
    </div>
    <div *ngIf="showScreen" class="pokedex__controls">
      <div class="screen">
        <figure class="screen__figure">
          <img [src]="currentPokemon.sprites.other.dream_world.front_default" [alt]="currentPokemon.name" class="screen__img">
          <figcaption>{{currentPokemon.name}}</figcaption>
        </figure>
      </div>
    </div>
    <div class="pokedex__wizard pokedex__wizard--bottom">
      <div class="pokedex__line"></div>
    </div>
  </div>
</div>