<div class="pokedex">
  <div class="pokedex__container">
    <div class="poke-indicators">
      <div class="poke-indicators__voice" [ngClass]="{'poke-indicators__voice--shadow' : destello}">
        <span class="poke-indicators__item-voice" [ngClass]="{'poke-indicators__item-voice--dark': destello}"></span>
      </div>
      <div class="poke-indicators__ligths">
        <span class="poke-indicators__light-item light-red" [ngClass]="{'light-red--shadow': destello}"></span>
        <span class="poke-indicators__light-item light-yellow" [ngClass]="{'light-yellow--shadow': destello}"></span>
        <span class="poke-indicators__light-item light-green" [ngClass]="{'light-green--shadow': destello}"></span>
      </div>
    </div>
    <div class="poke-console">
      <div class="screen-content">
        <div class="screen-content__points">
          <span class="poke-indicators__light-item--1"></span>
          <span class="poke-indicators__light-item--1"></span>
        </div>
        <div class="screen">
          <figure class="screen__figure" *ngIf="showScreen">
            <img [src]="currentPokemon.sprites.other.dream_world.front_default" [alt]="currentPokemon.name" class="screen__img">
            <figcaption>{{currentPokemon.name}}</figcaption>
          </figure>
        </div>
        <div class="poke-console__auxs">
          <div class="pokedex__button--radius pokedex__button--no-click"></div>
          <div class="poke-console__lines">
            <span class="poke-console__item--line"></span>
            <span class="poke-console__item--line"></span>
            <span class="poke-console__item--line"></span>
          </div>
        </div>
      </div>
      <div class="poke-controls">
        <div class="poke-controls__buttons">
          <div class="poke-controls__items">
            <button class="pokedex__button--radius pokedex__button--w2 pokedex__button--dark pokedex__button--no-click"></button>
            <span class="poke-console__item--line poke-console__item--w3"></span>
            <span class="poke-console__item--line poke-console__item--w3"></span>
          </div>
          <div class="poke-controls__main">
            <button poke-button class="pokedex__button--main" (click)="openScreen()"></button>
          </div>
        </div>
        <button class="pokedex__button--radius pokedex__button--dark pokedex__button--w5">On</button>
      </div>
    </div>
  </div>
</div>