.pokedex {
  width: 100%;
  &__container {
    width: 20%;
    margin: auto;
  }
  &__wizard {
    width: 100%;
    height: 10rem;
    background-color: var(--red);
    &--top {
      border-radius: .8rem .8rem 0 0;
      border-bottom: .1rem solid var(--dark-blue);
    }
    &--bottom {
      border-radius: 0 0 .8rem .8rem;
      border-top: .1rem solid var(--dark-blue);
    }
  }
  &__button {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: var(--dark-salmon);
    border: .1rem solid var(--dark-blue);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: var(--snow);
  }
  &__line {
    width: 100%;
    height: 5rem;
    border-bottom: .1rem solid var(--light-salmon);
  }
  &__controls {
    width: 80%;
    margin: auto;
    height: 12rem;
    border: 1rem solid var(--coral);
    background-color: var(--light-gray);
  }
}
.light{
  width: 0;
  height: 0;
  border: .5rem solid var(--gainsboro);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
  margin-top: 1.5rem;
  &--shadow {
    box-shadow: 0 0 1.2rem var(--dark-red);
    border: .5rem solid var(--dark-red);
  }
}

.screen {
  &__figure {
    margin: 3rem auto 0 auto;
    width: 50%;
    height: 5rem;
    border: .1rem solid var(--lime-green);
    border-radius: .3rem;
    background-color: var(--gainsboro);
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  figcaption {
    text-align: center;
  }
}