<ng-container *ngIf="data.pokemon$|async as pokemon$">
  <div class="poke-console">
    <div class="poke-console__indicators">
      <poke-indicator [size]="'m'" [active]="destello"></poke-indicator>
      <div class="poke-console__items">
        <poke-indicator
          [activeColor]="PokeColors.TOMATO"
          [size]="'s'"
          [active]="destello"
          [light]="PokeColors.ORANGE_RED"></poke-indicator>
        <poke-indicator
          [activeColor]="PokeColors.GOLD"
          [size]="'s'"
          [active]="destello"
          [light]="PokeColors.YELLOW"></poke-indicator>
        <poke-indicator
          [activeColor]="PokeColors.LIME_GREEN"
          [size]="'s'"
          [active]="destello"
          [light]="PokeColors.LAWN_GREEN"></poke-indicator>
      </div>
    </div>
    <div class="screen">
      <figure class="screen__figure">
        <img 
          [src]="pokemon$.sprites.other.dream_world.front_default" 
          [alt]="pokemon$.name"
          class="screen__img"
          *ngIf="showScreen">
        <figcaption class="screen__name" *ngIf="showScreen">{{pokemon$.name}}</figcaption>
      </figure>
    </div>
    <div class="poke-controls">
      <div class="poke-controls__lines">
        <poke-line></poke-line>
        <poke-line></poke-line>
        <poke-line></poke-line>
      </div>
      <button poke-button class="poke-controls__button" (click)="openScreen()"></button>
    </div>
  </div>
</ng-container>