<ng-container *ngIf="data.pokemon$|async as pokemon$">
  <div class="poke-console">
    <div class="poke-console__indicators">
      <poke-indicator [size]="'m'" [active]="destello"></poke-indicator>
    </div>
    <div class="poke-screen">
      <figure class="screen__figure">
        <img [src]="pokemon$ .sprites.other.dream_world.front_default" [alt]="pokemon$.name" class="screen__img">
        <figcaption>{{pokemon$.name}}</figcaption>
      </figure>
    </div>
    <div class="poke-controls">
      <button (click)="openScreen()">OK</button>
    </div>
  </div>
</ng-container>