/* You can add global styles to this file, and also import other style files */
:root {
  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }
  --crimson: #DC143C;
  --indian-red: #CD5C5C;
  --light-coral: #F08080;
  --salmon: #FA8072;
  --dark-salmon: #E9967A;
  --light-salmon: #FFA07A;
  --red: #FF0000;
  --fire-brick: #B22222;
  --dark-red: #8B0000;
  --red-rescue-team: #ED1B24;

  --snow: #FFFAFA;
  --gainsboro: #dcdcdc;
  --light-gray: #d3d3d3;
  --silver: #c0c0c0;
  --dark-gray: #a9a9a9;
  --gray: #808080;
  --dimgray: #696969;
  --lightslategray: #778899;
  --slategray: #708090;
  --dark-slategray: #2f4f4f;
  --black: #000000;

  --lime-green: #32CD32;
  --lawn-green: #7CFC00;

  --steel-blue: #4682B4;
  --dark-blue: #00008B;
  --deep-sky-blue: #00BFFF;

  --light-salmon: #ffa07a;
  --coral: #ff7f50;
  --tomato: #ff6347;
  --orange-red: #ff4500;
  --dark-orange: #ff8c00;
  --orange: #ffa500;

  --gold: #ffd700;
  --yellow: #ffff00;
  --light-yellow: #ffffe0;
  --lemon-chiffon: #fffacd;
  --light-goldenrod-yellow: #fafad2;
  --papaya-whip: #ffefd5;
  --moccasin: #ffe4b5;
  --peach-puff: #ffdab9;
  --pale-goldenrod: #eee8aa;
  --khaki: #f0e68c;
  --darkkhaki: #bdb76b;

  --pink: #ffc0cb;
  --light-pink: #ffb6c1;
  --hot-pink: #ff69b4;
  --deep-pink: #ff1493;
  --medium-violet-red: #c71585;
  --paleviolet-red: #db7093;

  --dark-sea-green: #8FBC8F;
  --forest-green: #228B22;

  --backgroud-radial-dark: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(3,3,37,1) 35%, rgba(205,217,219,1) 100%);
  --dark: rgb(2,0,36);

  .poke-general-shadow--dark {
    box-shadow: inset 0 0 1.5rem .5rem rgba(0, 0, 0, .6);
  }

  .poke-general-shadow--light {
    box-shadow: inset 0 0 1.5rem .5rem rgba(255, 255, 255, 0.6);
  }
}