/* You can add global styles to this file, and also import other style files */
:root {
  --crimson: #DC143C;
  --indian-red: #CD5C5C;
  --light-coral: #F08080;
  --salmon: #FA8072;
  --dark-salmon: #E9967A;
  --light-salmon: #FFA07A;
  --red: #FF0000;
  --fire-brick: #B22222;
  --dark-red: #8B0000;

  --snow: #FFFAFA;
  --gainsboro: #dcdcdc;
  --light-gray: #d3d3d3;
  --silver: #c0c0c0;
  --darkgray: #a9a9a9;
  --gray: #808080;
  --dimgray: #696969;
  --lightslategray: #778899;
  --slategray: #708090;
  --dark-slategray: #2f4f4f;
  --black: #000000;

  --lime-green: #32CD32;

  --dark-blue: #00008B;

  --light-salmon: #ffa07a;
  --coral: #ff7f50;
  --tomato: #ff6347;
  --orange-red: #ff4500;
  --dark-orange: #ff8c00;
  --orange: #ffa500;

  --gold: #ffd700;
  --yellow: #ffff00;
  --light-yellow: #ffffe0;
  --lemon-chiffon: #fffacd;
  --light-goldenrod-yellow: #fafad2;
  --papaya-whip: #ffefd5;
  --moccasin: #ffe4b5;
  --peach-puff: #ffdab9;
  --pale-goldenrod: #eee8aa;
  --khaki: #f0e68c;
  --darkkhaki: #bdb76b;
}